.navbar-light {
  background-color: $navbar-bg;
  color: $navbar-fg;
  a, a:hover {
    color: $navbar-fg;
    text-decoration: none;
  }
  .navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited {
    color: $navbar-fg;
  }
}

#mc_embed_signup div.mce_inline_error {
  background-color: $red !important;
  position: absolute;
}

#mc_embed_signup input.mce_inline_error {
  //border-color: $red !important;
}
