.team-title {
  font-weight: bold;
  color: #888888;
  margin-bottom: 1rem;
}
body {
  background-color: $body-bg;
  // background: url(../img/woost_logo_thin_bg_line.svg) no-repeat;
  // background-size: cover;
  // background-position: left calc(600px) top calc(-500px);
}
