.team-title {
  font-weight: bold;
  color: #888888;
  margin-bottom: 1rem;
}
html,body {
  height: "100%";
}
.masthead {
  height: 100%;
}


/* styling mailtrain iframe */
.mj-container {
    background: #2b5797 !important;
}
.mj-container .form-title {
    display: none;
}
.mj-container input {
    color: white !important;
}
.mj-container label {
    color: white !important;
}
