body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headline-font;
  font-weight: 700;
}

hr.line {
    border-top: dashed 4px red;
    margin: 50px 80px;
}

hr.line.teal {
    border-color: #3DCFA2; 
}

hr.line.purple {
    border-color: #86B9FF; 
}

hr.line.pink {
    border-color: #FF97D6; 
}

hr.line.green {
    border-color: #70CC86; 
}

hr.line.blue {
    border-color: #00C6FF
}

