header.masthead {
  color: $header-fg;
  // background-color: $header-bg;

  padding-bottom: 4rem;

  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    // padding-top: 12rem;
    //padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }

  .header-graphic {
    height: 250px;
  }
}

// * {
//     border: 1px solid powderblue;
// }
// *:hover {
//     border: 1px solid steelblue;
// }
