// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin navbar-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin headline-font {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin body-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
