// Font Mixins
@mixin navbar-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin headline-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin body-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

// text-selection
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

