// Font Mixins
@mixin navbar-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin headline-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin body-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
